<div class="our-works-slider px-4 mb-20 lg:px-0" x-data="{ open: false, active: 0 }">
  <div class="relative main-slider overflow-hidden">
    <div class="flex justify-center items-center mb-5 mx-auto relative lg:mb-10 lg:max-w-150">
      <div class="swiper-navigation flex items-center gap-5">
        <div class="swiper-prev cursor-pointer transition-opacity rotate-180 [&.swiper-button-disabled]:opacity-50">
          <load src="partials/icons/arrow-right.html" />
        </div>
        <div class="swiper-next cursor-pointer transition-opacity [&.swiper-button-disabled]:opacity-50">
          <load src="partials/icons/arrow-right.html" />
        </div>
      </div>

      <span class="inline-flex w-7.5 h-7.5 absolute top-1/2 right-0 -translate-y-1/2"><load src="partials/icons/swipe.html" /></span>
    </div>

    <div class="swiper group mx-auto opacity-0 transition-opacity min-h-75 !overflow-visible lg:max-w-150 lg:min-h-150 [&.swiper-initialized]:opacity-100"
      x-data="swiper({
        effect: 'coverflow',
        centeredSlides: true,
        slidesPerView: 'auto',
        pagination: {
          el: '.our-works-slider .main-slider .swiper-pagination',
          type: 'fraction',
        },
        navigation: {
          nextEl: '.our-works-slider .main-slider .swiper-next',
          prevEl: '.our-works-slider .main-slider .swiper-prev'
        },
        grabCursor: true,
        on: {
          slideChange() {
            active = this.activeIndex;
          }
        }
      })"
    >
      <div class="swiper-wrapper">
        <template x-for="i in 29">
          <div class="swiper-slide">
            <img class="block bg-white border border-neutral-300 rounded-md mx-auto w-full"
              :src="`/images/our-works/${ i }.webp`"
              :alt="`Our works ${ i }`"
              :loading="i > 5 ? 'lazy' : 'eager'">
          </div>
        </template>
      </div>

      <div class="swiper-pagination mt-5 lg:mt-10"></div>

      <div class="inline-flex items-center justify-center bg-brand text-white h-10 w-10 rounded-full z-10 absolute cursor-pointer right-5 bottom-16.5 lg:bottom-21.5" @click="open = true">
        <span class="inline-flex h-5 w-5"><load src="partials/icons/zoom.html" /></span>
      </div>
    </div>
  </div>

  <div class="zoom-popup flex items-center justify-center fixed inset-0 opacity-0 transition-opacity pointer-events-none bg-black/80 z-100"
    :class="{ '!opacity-100 !pointer-events-auto active': open }"
    @keyup.escape.window="open = false"
  >
    <div class="absolute right-2.5 top-5 z-10 cursor-pointer rounded-full h-10 w-10 bg-black text-white inline-flex items-center justify-center lg:left-1/2 lg:-translate-x-1/2 lg:right-auto lg:ml-70" @click="open = false">
      <span class="inline-flex h-5 w-5 relative top-px left-0.75"><load src="partials/icons/cross.html" /></span>
    </div>

    <div class="swiper-pagination absolute left-1/2 -translate-x-1/2 z-10 top-7 text-white"></div>

    <div class="swiper mx-auto rounded-md max-h-[80%] w-[95%] lg:w-150"
      x-data="swiper({
        slidesPerView: 1,
        spaceBetween: 5,
        pagination: {
          el: '.our-works-slider .zoom-popup .swiper-pagination',
          type: 'fraction',
        },
        navigation: {
          nextEl: '.our-works-slider .zoom-popup .swiper-next',
          prevEl: '.our-works-slider .zoom-popup .swiper-prev'
        },
      })"
      x-init="$watch('active', value => {
        const instance = $el.swiper;

        instance.slideTo(value);
      })"
    >
      <div class="swiper-wrapper">
        <template x-for="i in 29">
          <div class="swiper-slide">
            <img
              class="rounded-md h-full w-full object-contain object-center"
              :src="`/images/our-works/${ i }.webp`"
              :alt="`Our Works ${ i }`"
              loading="lazy" />
          </div>
        </template>
      </div>
    </div>

    <div class="swiper-navigation flex items-center justify-center gap-5 absolute w-full z-10 bottom-5 text-white" @click.stop>
      <div class="swiper-prev cursor-pointer transition-opacity rotate-180 [&.swiper-button-disabled]:opacity-50">
        <load src="partials/icons/arrow-right.html" />
      </div>
      <div class="swiper-next cursor-pointer transition-opacity [&.swiper-button-disabled]:opacity-50">
        <load src="partials/icons/arrow-right.html" />
      </div>
    </div>
  </div>
</div>
